.Wrapper
  .Header
    .Avatar
    .Header-title Daniela Gattoni
    .Header-subTitle Frontend Engineer 
  .PrimaryNav
    ul.PrimaryNav-list
      li
        a(href="#") Home
      li 
        a(href="https://www.linkedin.com/in/danielagattoni/") Work
      li 
        a(href="https://www.linkedin.com/in/danielagattoni/") Talks

  main.MainContent
    .Container
      h3 Hello There!
      h4 My name is Daniela Gattoni and I am Software Engineer and hackathon award-winner with 8 years of experience in web development. 
      
      p I have experience on Agile projects building client and server side applications with Javascript, CSS and HTML, Node/ExpressJS and React.

      p I would like to keep growing on Frontend web development, focusing on my Javascript path, using version control systems and continuos integration tools to build modern cross-browser applications.
      p I am good at bringing Mockups to life through Javascript and CSS and a code review advocated on every project I work, because it brings high quality standards on every single line of code I put on a product.

      p I have worked closely with Agile Project Managers, UX/UI Designers, Full Stack and Backend Engineers from award-winning Start up, big companies and boutique agencies, and have a close understanding on Team work in a dynamic and changing environment with emphasis on features delivery at a fast-phase.

      p I always make time for:
        ul
          li Practicing Music and Guitar.
          li Cycling with friends around Parks.
          li Participate in hackathons and volunteering as Coach/Speaker at inclusive Tech events!
  .Social
      ul.Social-links
        li.Social-link
          a(href="https://codepen.io/danigattoni" title="Codepen") Codepen
        li.Social-link
          a(href="https://github.com/dgattoni" title="Github") Github
        li.Social-link
          a(href="https://twitter.com/danigattoni_" title="Twitter") Twitter
        li.Social-link
          a(href="https://www.linkedin.com/in/danielagattoni/" title="Linkedin") Linkedin


  footer.Footer
    .Copyright Daniela Gattoni | Frontend Engineer | 2018