.Wrapper
  .Header
    .Avatar
    .Header-title Daniela Gattoni
    .Header-subTitle Frontend Engineer 
  .PrimaryNav
    ul.PrimaryNav-list
      li.PrimaryNav-item
        a.PrimaryNav-link(href="/" target="_blank" title="Home") Home
      li.PrimaryNav-item 
        a.PrimaryNav-link(href="https://www.linkedin.com/in/danielagattoni/" target="_blank" title="Work") Work
      li.PrimaryNav-item 
        a.PrimaryNav-link(href="https://www.linkedin.com/in/danielagattoni/" target="_blank" title="Talks") Talks

  main.MainContent
    .Container
      h3 Hello There!
      h4 My name is Daniela Gattoni and I am Software Engineer and hackathon award-winner with 8 years of experience in web development. 
      
      p I have experience on Agile projects building client and server-side applications with Javascript, CSS and HTML, Node/ExpressJS and React.

      p I would like to keep growing on Frontend web development, focusing on my Javascript path, using version control systems and continuos integration tools to build modern cross-browser applications.
      
      p I am good at bringing Mockups to life through Javascript and CSS and a code review advocated on every project I work, because it brings high quality standards on every single line of code I put on a product.

      p I have worked closely with Agile Project Managers, UX/UI Designers, Full Stack and Backend Engineers from award-winning Start up, big companies and boutique agencies, and have a close understanding on Team work in a dynamic and changing environment with emphasis on features delivery at a fast-phase.

      p I always make time for:
        ul
          li Practicing Music and Guitar.
          li Cycling with friends around Parks.
          li Participate in hackathons and volunteering as Coach/Speaker at inclusive Tech events!

  .Social
    p Find me on:
    ul.Network
      li.Network-item.Network-item--codepen
        a.Network-link(href="https://codepen.io/danigattoni" target="_blank" title="Codepen") Codepen
      li.Network-item.Network-item--github
        a.Network-link(href="https://github.com/dgattoni" target="_blank" title="Github") Github
      li.Network-item.Network-item--linkedin
        a.Network-link(href="https://www.linkedin.com/in/danielagattoni/" target="_blank" title="Linkedin") Linkedin
      li.Network-item.Network-item--twitter
        a.Network-link(href="https://twitter.com/danigattoni_" target="_blank" title="Twitter") Twitter

  footer.Footer
    .Container
      p Daniela Gattoni, Frontend Engineer from Santiago, Chile.
